{% extends 'app/base.html'%}

{% block title %}
TechTalk
{% endblock title%}

{% block content %}

<h1>Taha Elkarroumy</h1>
<p>
    As a Python web developer, I specialize in developing web applications using Python-based web frameworks such as Django and Flask. I am well-versed in programming concepts and design patterns and can develop efficient, scalable, and robust web applications that meet clients' requirements.


I am familiar with various database management systems such as MySQL, PostgreSQL, and MongoDB and can design and implement database schemas and queries to ensure data consistency, integrity, and security.


In addition to technical skills, I possess excellent communication skills and can work closely with clients to understand their requirements and provide technical solutions that meet their needs. I am also a fast learner, adaptable, and stay up-to-date with the latest industry trends and technologies to ensure that my skills are relevant and competitive.
</p>

{% endblock content %}